@import "tailwindcss";

:root {
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  background-color: #f9fafb;
  color: #111827;
}

/* Custom Scrollbar สำหรับตาราง */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 9999px;
}